<script
src="https://code.jquery.com/jquery-3.5.1.js"
integrity="sha256-QWo7LDvxbWT2tbbQ97B53yJnYU3WhH/C8ycbRAkjPDc="
crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
<script src="/js/healthlogchart.js"></script>
<div class="">
    <h1 class="usernameH">{{userDisplayName}}</h1>
    <div class="button-div"><button type="button" id="graph-button">Graph</button></div>
    <div id="chart-div">
        <canvas id="chart"></canvas>
    </div>
    {{!-- Form should post new data entry with DailyStats --}}
    {{!-- TODO! Add DailyActivities to this form --}}
    <div id="log-div">
        <div id="statsForm">
            <form id="dailyStats-form" method="POST" action="/healthlog/{{userDisplayName}}"  class="form">
                <label for="calCon-field">Calories Consumed<input type="number" class="user-input" id="calCon-field" name="calCon"></label>
                <label for="steps-field">Steps Taken<input type="number" class="user-input" id="steps-field" name="steps"></label>
                <label for="water-field">Water Consumed<input type="number" class="user-input" id="water-field" name="water" placeholder="liters"> L</label>
                <label for="etype-field">Exercise Type<input type="text" class="user-input" id="etype-field" name="etype"></label>
                <label for="edur-field">Exercise Duration<input type="number" class="user-input" id="edur-field" name="edur" placeholder="minutes"> min</label>
                <label for="calBurn-field">Calories Burned<input type="number" class="user-input" id="calBurn-field" name="calBurn"></label>
                <button type="submit" id="user-submit">Submit</button>
                {{!-- <button type="button" id="cancel-button">Cancel</button> --}}
            </form>
        </div>
         <div class="waterGoal">
                {{#if whytf}}
                    <p>You have reached your water goal today!</p>
                    {{else}}
                    <p>Drink More Water Today!</p>
                    {{/if}}
        </div>
    {{!-- Should enable arrows to circulate through dates
    and include search feature to look up a certain date --}}
        <div class="dailyStats">
            {{#each dailyStats}}  
            <article class="dailyStat">
                <hr>
                {{!-- <h2>{{dailyStat.object}}</h2> --}}
                <h2>{{date}}</h2>
                <p>Calories Consumed: {{caloriesConsumed}}</p>
                <p>Steps: {{stepsTaken}}</p>
                <p>Water Consumed: {{waterConsumed}} L</p>
                {{#each dailyActivities}}
                <article>
                    <h3>Exercise Type: {{exerciseType}}</h3>
                    <p>Duration: {{exerciseDuration}} min</p>
                    <p>Calories Burnt: {{caloriesBurnt}}</p>
                </article>  
                {{/each}}
            </article>
            {{/each}}
        </div>
    </div>
</div>