<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>{{userDisplayName}} - WaterBoy</title>
        <link rel="stylesheet" href="/css/healthlog.css">
    </head> 
    <body>
        <div class="">
            <h1>{{userDisplayName}}</h1>
            {{!-- Form should post new data entry with DailyStats --}}
            {{!-- TODO! Add DailyActivities to this form --}}
            <div id="statsForm" class="form">
                    <form id="dailyStats-form" method="POST" action="/healthlog/{{userDisplayName}}">
                        <label for="calCon-field">Calories Consumed<input type="number" class="user-input" id="calCon-field" name="calCon"></label>
                        <label for="steps-field">Steps Taken<input type="number" class="user-input" id="steps-field" name="steps"></label>
                        <label for="water-field">Water Consumed<input type="number" class="user-input" id="water-field" name="water"></label>
                        <button type="submit" id="user-submit">Submit</button>
                        {{!-- <button type="button" id="cancel-button">Cancel</button> --}}
                    </form>
            </div>

            {{!-- Should enable arrows to circulate through dates
            and include search feature to look up a certain date --}}
            {{#each dailyStats}}  
            <article class="dailyStat">
                {{!-- <h2>{{dailyStat.object}}</h2> --}}
                <h2>{{date}}</h2>
                <p>Calories Consumed: {{caloriesConsumed}}</p>
                <p>Steps: {{stepsTaken}}</p>
                <p>Water Consumed: {{waterConsumed}}</p>
                {{#each dailyStats.dailyActivities}}
                <article>
                    <h3>{{dailyStats.dailyActivites.exerciseType}}></h3>
                    <p>Duration: {{dailyStats.dailyActivites.exerciseDuration}}</p>
                    <p>Calories Burnt: {{dailyStats.dailyActivites.caloriesBurnt}}</p>
                </article>  
                {{/each}}
            {{/each}}
            </article>
        </div>
    </body>
</html>