<main>
	<h1 class="chead">Your Info</h1>
	<article>
		<p>First Name:<br>     {{firstName}}</p>
		<p>Last Name:<br>     {{lastName}}</p>
		<p>Username:<br>     {{username}}</p>
		<p>Profession:<br>     {{profession}}</p>
		<p>Bio:<br>     {{bio}}</p>
		<a href="http://localhost:3000/logout">Logout</a>
	</article>
</main>